<h3>Vaša narudžba</h3>
<div class="order-card-step" (click)="navigate(1)">
  <div class="card-info">
    <div class="icons">
      <img src="assets/drink2.png" alt="">
      <img src="assets/glass.png" alt="" style="margin-left: -22px">
    </div>
    <p>Korak 1: Izaberi piće</p>
  </div>
  <ng-container *ngIf="drinkItemSelected">
    <small style="color: green; display: flex; justify-content: flex-end;">Ovaj korak je kompletiran!</small>
  </ng-container>

</div>
<div class="order-card-step" (click)="navigate(2)">
  <div class="card-info">
    <div class="icons">
      <img src="assets/hookahicon4.png" style="transform: rotate(-15deg); width: 75px" alt="">
    </div>
    <p>Korak 2: Izaberi nargilu</p>
  </div>
  <ng-container *ngIf="hookahSelected">
    <small style="color: green; display: flex; justify-content: flex-end;">Ovaj korak je kompletiran!</small>
  </ng-container>
</div>


<footer *ngIf="drinkItemSelected || hookahSelected">
  <h3>Total: {{totalPrice}}KM</h3>
  <button pButton pRipple class="p-button-success" label="Posalji narudzbu" size="large" iconPos="right" icon="pi pi-check"></button>
</footer>

<div class="center-container" *ngIf="drinkItemSelected && hookahSelected">
</div>
