.body {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  img {
    max-width: 250px;
    margin-bottom: 30px;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
