.body {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh;
  flex-direction: column;
}

.logo-container {
  display: flex;
  justify-content: center;
  img {
    max-width: 250px;
    margin-bottom: 30px;
  }
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 4px;
  button {
    margin-top: 12px;
    width: 150px;
    display: flex;
    justify-content: center;
  }
}
