
<div class="main-panel">
<h1>Dobro došli u Ultra Spot!</h1>
<p-toast *ngIf="showSuccessLogin" position="bottom-center" key="bc"></p-toast>

<p-button label="Započnite narudžbu" styleClass="p-button-danger" (click)="navigate()"></p-button>

<p-divider></p-divider>

<!-- <h3>U samo nekoliko kratkih koraka do uzitka!👌</h3>
<div class="card mt-8">
  <p-timeline [value]="steps" class="w-full md:w-20rem" align="alternate">
    <ng-template pTemplate="content" let-event>
        {{ event.status }}
    </ng-template>
</p-timeline>
</div> -->

</div>
