.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px;
  .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-circle {
      border-radius: 100%;
      padding: 8px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
}

.item-title {
  font-family: Montserrat Bold;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Spacing between cards */
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //min-height: 100vh;
}

.title-container {
  padding: 0px 17px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 20px; /* Adjust padding as needed */
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10000;
  .footer-left, .footer-right {
    display: flex;
    align-items: center;
  }
}

.sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  div {
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

.option-card {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  .opt-card-left {
    align-items: center;
    display: flex;
    gap: 10px;
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #eb4034;
  }
}
